{% extends 'posteos/base.html' %}
{% block content %}

<article>
    
    <h1>Experiencia laboral</h1>   
    <section>
                    
        <h4><b>Blabla</b></h4>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure quisquam dicta labore amet, provident libero. Possimus magni, tempore distinctio quas quaerat iste, vel doloremque unde exercitationem, tempora quos perspiciatis impedit.
        </p>
        
    </section>
</article>

{% endblock content %}