<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
        <div class="container">
            <a class="navbar-brand mr-4" href="{% url 'posteos-home' %}">Posteos-WebApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarToggle">
                <div class="navbar-nav mr-auto">
                    <a id='left-bar' class="nav-item nav-link" href="{% url 'posteos-home' %}"><i class="fas fa-home fa-fw"></i>Inicio</a>
                    <a id='left-bar' class="nav-item nav-link" href="{% url 'posteos-about' %}">Sobre mí</a>
                </div>
                <!-- lado derecho -->
                <div class="navbar-nav">
                    {% if user.is_authenticated %}
                        <a id='cerrar-item' class="nav-item nav-link" href="{% url 'post-create' %}">Nuevo Posteo</a>
                        <a class="nav-item nav-link" href="{% url 'profile' %}"><img id='account-img' class="rounded-circle account-img" src="{{ user.profile.image.url }}">Perfil</a>
                        <a id='cerrar-item' class="nav-item nav-link" href="{% url 'logout' %}"><i class="fas fa-door-open fa-fw"></i>Cerrar sesión</a>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Iniciar sesión</a>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Registrarse</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
</header>